    <!-- section featured -->
<section id="featured">

    <!-- start slider -->
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Easy management</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <a href="#" class="btn btn-theme btn-large da-link">Read more</a>
            <div class="da-img"><img src="img/slides/parallax/1.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2>Embed your video</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <a href="#" class="btn btn-primary btn-large da-link">Read more</a>
            <div class="da-img">
                <div class="video-container">
                    <iframe src="http://player.vimeo.com/video/30585464?title=0&amp;byline=0">			</iframe>
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2>Great for any websites</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <a href="#" class="btn btn-success btn-large da-link">Read more</a>
            <div class="da-img"><img src="img/slides/parallax/2.png" alt="" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
    <!-- end slider -->

</section>
<!-- /section featured -->

<section id="content">
    <div class="container">

        <div class="row">
            <div class="span12">
                <div class="cta-box">
                    <div class="row">
                        <div class="span8">
                            <div class="cta-text">
                                <h2>Our Services that we can Provide you<span>Check</span> it</h2>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="cta-btn">
                                <a asp-controller="Service" asp-action="HomeService" class="btn btn-theme">See More<i class="icon-angle-right"></i></a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <div class="box flyLeft">
                            <div class="icon">
                                <i class="ico icon-circled icon-bgdark icon-star icon-3x"></i>
                            </div>
                            <div class="text">
                                <h4>Print <strong>Curriculum</strong></h4>
                                <p>
                                    Print the curriculum for easy access to advice People with visual impairments.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="box flyIn">
                            <div class="icon">
                                <i class="ico icon-circled icon-bglight icon-microphone icon-3x"></i>
                            </div>
                            <div class="text">
                                <h4>Audio <strong> Recording</strong></h4>
                                <p>
                                    Audio recording of curricula for students with visual disabilities.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="box flyRight">
                            <div class="icon">
                                <i class="ico icon-circled icon-bgdark icon-play-sign active icon-3x"></i>
                            </div>
                            <div class="text">
                                <h4>Recording <strong> Videos</strong></h4>
                                <p>
                                    Recording videos of explanations and lectures and sending them to students with disabilities Extremely mobile.

                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="span4">
                        <div class="box flyLeft">
                            <div class="icon">
                                <i class="ico icon-circled icon-bgprimary icon-code icon-3x"></i>
                            </div>
                            <div class="text">
                                <h4>Training in <strong>Computer</strong></h4>
                                <p>
                                    Training in computer skills and languages.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="box flyIn">
                            <div class="icon">
                                <i class="ico icon-circled icon-bgdanger icon-user  icon-3x"></i>
                            </div>
                            <div class="text">
                                <h4>Soft <strong>Skills</strong></h4>
                                <p>
                                    Training students and graduates on personal and administrative skills
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="box flyRight">
                            <div class="icon">
                                <i class="ico icon-circled icon-bgsuccess icon-cut  icon-3x"></i>
                            </div>
                            <div class="text">
                                <h4>Training in <strong>Craft</strong></h4>
                                <p>
                                    Training in craft and vocational skills.
                                </p>
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="solidline"></div>
            </div>
        </div>



        <div class="row">
            <div class="span12 aligncenter">
                <h3 class="title">What people <strong>saying</strong> about us</h3>
                <div class="blankline30"></div>

                <ul class="bxslider">
                    <li>
                        <blockquote>
                            Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                            feugiat
                        </blockquote>
                        <div class="testimonial-autor">
                            <img src="img/dummies/testimonial/1.png" alt="" />
                            <h4>Hillary Doe</h4>
                            <a href="#">www.companyname.com</a>
                        </div>
                    </li>
                    <li>
                        <blockquote>
                            Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                            feugiat
                        </blockquote>
                        <div class="testimonial-autor">
                            <img src="img/dummies/testimonial/2.png" alt="" />
                            <h4>Michael Doe</h4>
                            <a href="#">www.companyname.com</a>
                        </div>
                    </li>
                    <li>
                        <blockquote>
                            Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                            feugiat
                        </blockquote>
                        <div class="testimonial-autor">
                            <img src="img/dummies/testimonial/3.png" alt="" />
                            <h4>Mark Donovan</h4>
                            <a href="#">www.companyname.com</a>
                        </div>
                    </li>
                    <li>
                        <blockquote>
                            Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                            feugiat
                        </blockquote>
                        <div class="testimonial-autor">
                            <img src="img/dummies/testimonial/4.png" alt="" />
                            <h4>Marry Doe Elliot</h4>
                            <a href="#">www.companyname.com</a>
                        </div>
                    </li>
                </ul>
                <div class="blankline30"></div>
            </div>
        </div>

    </div>
</section>


<section id="works">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="title">Recent <strong>Works</strong></h4>
                <div class="row">

                    <div class="grid cs-style-4">
                        <div class="span3">
                            <div class="item">
                                <figure>
                                    <div><img src="img/dummies/works/1.jpg" alt="" /></div>
                                    <figcaption>
                                        <div>
                                            <span>
                                                <a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                            <span>
                                                <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="item">
                                <figure>
                                    <div><img src="img/dummies/works/2.jpg" alt="" /></div>
                                    <figcaption>
                                        <div>
                                            <span>
                                                <a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                            <span>
                                                <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="item">
                                <figure>
                                    <div><img src="img/dummies/works/3.jpg" alt="" /></div>
                                    <figcaption>
                                        <div>
                                            <span>
                                                <a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                            <span>
                                                <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="item">
                                <figure>
                                    <div><img src="img/dummies/works/4.jpg" alt="" /></div>
                                    <figcaption>
                                        <div>
                                            <span>
                                                <a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                            <span>
                                                <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                            </span>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>