@model DSC.Models.DTOs.RegsiterDto

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="#" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->
<!-- Start page content -->
<div class="container">
    <div class="row my-4 my-lg-5">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">
            <img src="~/assets/custom/images/signin-logo.png" alt="signin" class="img-fluid">
            <p class="font-20 semi-font fables-main-text-color mt-4 mb-5">Create a new account</p>
            <form asp-action="Register" method="post" class="text-left">
                <div class=" form-group">
                        <div class="input-icon">

                            <span class="fables-iconuser-register fables-input-icon mt-2 font-13"></span>
                        <input required type="text" asp-for="Name" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Full Name">
                        <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                </div>
                <div class="form-group">
                    <div class="input-icon ">
                        <span class="fables-iconemail fables-input-icon mt-2 font-13"></span>
                        <input required type="email" asp-for="Email" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Email">
                        <span asp-validation-for="Email" class="text-left text-danger"></span>

                    </div>

                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <span class="fables-iconmobileApp-icon fables-input-icon mt-2 font-13"></span>
                        <input required type="tel" asp-for="PhoneNumber" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Phone Number">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>

                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <span class="fables-iconphone fables-input-icon mt-2 font-13"></span>
                        <input required type="tel" asp-for="MobileNumber" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Mobile Number">
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>

                    </div>

                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <span class="fables-iconpassword fables-input-icon font-19 mt-1"></span>
                        <input required type="password" asp-for=Password class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <span class="fables-icondata fables-input-icon font-19 mt-1"></span>
                        <input required type="date" asp-for=BirthDate min="1990-01-01" max="@DateTime.UtcNow.ToString("yyyy-MM-dd")" value="" aria-describedby="dateGuide" aria-labelledby="dateLabel" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="BirthDate">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>

                    </div>
                </div>

              
                <div class="form-group">
                    <div class="input-icon">
                        <span class=" fables-input-icon font-19 mt-1"></span>
                        <select asp-for="Gender" id="articleType" class="form-control" placeholder="" >
                            <option disabled selected > -- Select Gender -- </option>
                            @foreach(var gender in Model.Genders){
                                <option value="@gender">@gender.ToString()</option>
                            }
                            
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font py-3">Register Now</button>
                <a asp-action="ForgotPassword" class="fables-forth-text-color font-16 fables-second-hover-color underline mt-3 mb-4 mb-lg-5 d-block">Forgot Password ?</a>
                <p class="fables-forth-text-color">Already have an account ?  <a asp-action="Login" class="font-16 semi-font fables-second-text-color underline fables-main-hover-color ml-2">Login</a></p>
            </form>
        </div>
    </div>

</div>

<!-- /End page content -->